In [21]:
# 10
linenum = 0
with open('data/popular-names.txt') as f:
    for _ in f:
        linenum += 1
linenum

2780

In [25]:
!wc data/popular-names.txt | awk '{print $1}'

2780

In [15]:
# 11
prc = []
with open('data/popular-names.txt') as f:
    for i, s in enumerate(f):
        prc.append(s.replace('\t', ' '))
for i in range(10):
    print(prc[i], end="")

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880

In [16]:
!cat data/popular-names.txt | tr '\t' ' ' | head

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880

In [55]:
# 12
with open('data/popular-names.txt') as f, open('out/col1.txt', 'w') as col1, open('out/col2.txt', 'w') as col2:
    for i, s in enumerate(f):
        name, gender, *_ = s.split('\t')
        col1.write(name + '\n')
        col2.write(gender + '\n')

!cat col1.txt | head 
!cat col2.txt | head

Mary
Anna
Emma
Elizabeth
Minnie
Margaret
Ida
Alice
Bertha
Sarah
F
F
F
F
F
F
F
F
F
F

In [33]:
!cat data/popular-names.txt | cut -f 1 | head
!cat data/popular-names.txt | cut -f 2 | head

Mary
Anna
Emma
Elizabeth
Minnie
Margaret
Ida
Alice
Bertha
Sarah
F
F
F
F
F
F
F
F
F
F

In [57]:
# 13
with open('out/col_merged.txt', 'w') as col, open('out/col1.txt') as col1, open('out/col2.txt') as col2:
    for s1, s2 in zip(col1, col2):
        col.write(f'{s1.strip()}\t{s2.strip()}\n')
!cat col_merged.txt | head

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F
Margaret	F
Ida	F
Alice	F
Bertha	F
Sarah	F

In [39]:
!paste -d '\t' col1.txt col2.txt | head

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F
Margaret	F
Ida	F
Alice	F
Bertha	F
Sarah	F

In [42]:
# 14
N = 10

with open('data/popular-names.txt') as f:
    for i, s in enumerate(f):
        if i == N:
            break
        print(s, end='')

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880
Margaret	F	1578	1880
Ida	F	1472	1880
Alice	F	1414	1880
Bertha	F	1320	1880
Sarah	F	1288	1880

In [43]:
!cat data/popular-names.txt | head

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880
Margaret	F	1578	1880
Ida	F	1472	1880
Alice	F	1414	1880
Bertha	F	1320	1880
Sarah	F	1288	1880
cat: stdout: Broken pipe

In [53]:
# 15
N = 10

str = []
with open('data/popular-names.txt') as f:
    str = [s.strip() for s in f]

print("\n".join(str[-N:]))

Liam	M	19837	2018
Noah	M	18267	2018
William	M	14516	2018
James	M	13525	2018
Oliver	M	13389	2018
Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

In [52]:
!cat data/popular-names.txt | tail

Liam	M	19837	2018
Noah	M	18267	2018
William	M	14516	2018
James	M	13525	2018
Oliver	M	13389	2018
Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

In [59]:
# 16
N = 5

sd = [[] for _ in range(N)]
with open('data/popular-names.txt') as f:
    for i, s in enumerate(f):
        sd[i % N].append(s)
for i in range(N):
    f = open(f'out/split-{i}.txt', 'w')
    f.writelines(sd[i])
    f.close()

In [6]:
!:

In [27]:
# 17
names = []
with open('data/popular-names.txt') as f:
    names = [s.split('\t')[0] for s in f]
names = sorted(set(names), key=names.index)
print(len(names))
print(names[:10])

136
['Mary', 'Anna', 'Emma', 'Elizabeth', 'Minnie', 'Margaret', 'Ida', 'Alice', 'Bertha', 'Sarah']

In [25]:
!cat data/popular-names.txt | awk '{print $1}' | sort | uniq | wc | awk '{print $1}'

136

In [38]:
# 18
d = []
with open('data/popular-names.txt') as f:
    d = [(s.strip(), int(s.split('\t')[2])) for s in f]
d = sorted(d, key=lambda _d: -_d[1])
str = [_d[0] for _d in d]
print("\n".join(str[:10]))

Linda	F	99689	1947
Linda	F	96211	1948
James	M	94757	1947
Michael	M	92704	1957
Robert	M	91640	1947
Linda	F	91016	1949
Michael	M	90656	1956
Michael	M	90517	1958
James	M	88584	1948
Michael	M	88528	1954

In [41]:
!cat data/popular-names.txt | sort -rn -k 3 | head

Linda	F	99689	1947
Linda	F	96211	1948
James	M	94757	1947
Michael	M	92704	1957
Robert	M	91640	1947
Linda	F	91016	1949
Michael	M	90656	1956
Michael	M	90517	1958
James	M	88584	1948
Michael	M	88528	1954

In [76]:
# 19
import collections
names = []
with open('data/popular-names.txt') as f:
    names = [s.split('\t')[0] for s in f]

for t in sorted(list(collections.Counter(names).items()), key=lambda t:-t[1]):
    print(f'{t[0]} {t[1]}')

James 118
William 111
John 108
Robert 108
Mary 92
Charles 75
Michael 74
Elizabeth 73
Joseph 70
Margaret 60
George 58
Thomas 58
David 57
Richard 51
Helen 45
Frank 43
Christopher 43
Anna 41
Edward 40
Ruth 39
Patricia 38
Matthew 37
Dorothy 36
Emma 35
Barbara 32
Daniel 31
Joshua 31
Sarah 26
Linda 26
Jennifer 26
Emily 26
Jessica 25
Jacob 25
Mildred 24
Betty 24
Susan 24
Henry 23
Ashley 23
Nancy 22
Andrew 21
Florence 20
Marie 20
Donald 20
Amanda 20
Samantha 19
Karen 18
Lisa 18
Melissa 18
Madison 18
Olivia 18
Stephanie 17
Abigail 17
Ethel 16
Sandra 16
Mark 16
Frances 15
Carol 15
Angela 15
Michelle 15
Heather 15
Ethan 15
Isabella 15
Shirley 14
Kimberly 14
Amy 14
Ava 14
Virginia 13
Deborah 13
Brian 13
Jason 13
Nicole 13
Hannah 13
Sophia 13
Minnie 12
Bertha 12
Donna 12
Cynthia 11
Alice 10
Doris 10
Ronald 10
Brittany 10
Nicholas 10
Mia 10
Noah 10
Joan 9
Debra 9
Tyler 9
Ida 8
Clara 8
Judith 8
Taylor 8
Alexis 8
Alexander 8
Mason 8
Harry 7
Sharon 7
Steven 7
Tammy 7
Brandon 7
Liam 7
Anthony 6
Annie 5
Gary 5
Jeffrey 5
Jayden 5
Charlotte 5
Lillian 4
Kathleen 4
Justin 4
Austin 4
Chloe 4
Benjamin 4
Evelyn 3
Megan 3
Aiden 3
Harper 3
Elijah 3
Bessie 2
Larry 2
Rebecca 2
Lauren 2
Amelia 2
Logan 2
Oliver 2
Walter 1
Carolyn 1
Pamela 1
Lori 1
Laura 1
Tracy 1
Julie 1
Scott 1
Kelly 1
Crystal 1
Rachel 1
Lucas 1

In [75]:
!cat data/popular-names.txt | cut -f 1 | sort | uniq -c | sort -rn -k 1

118 James
 111 William
 108 Robert
 108 John
  92 Mary
  75 Charles
  74 Michael
  73 Elizabeth
  70 Joseph
  60 Margaret
  58 Thomas
  58 George
  57 David
  51 Richard
  45 Helen
  43 Frank
  43 Christopher
  41 Anna
  40 Edward
  39 Ruth
  38 Patricia
  37 Matthew
  36 Dorothy
  35 Emma
  32 Barbara
  31 Joshua
  31 Daniel
  26 Sarah
  26 Linda
  26 Jennifer
  26 Emily
  25 Jessica
  25 Jacob
  24 Susan
  24 Mildred
  24 Betty
  23 Henry
  23 Ashley
  22 Nancy
  21 Andrew
  20 Marie
  20 Florence
  20 Donald
  20 Amanda
  19 Samantha
  18 Olivia
  18 Melissa
  18 Madison
  18 Lisa
  18 Karen
  17 Stephanie
  17 Abigail
  16 Sandra
  16 Mark
  16 Ethel
  15 Michelle
  15 Isabella
  15 Heather
  15 Frances
  15 Ethan
  15 Carol
  15 Angela
  14 Shirley
  14 Kimberly
  14 Ava
  14 Amy
  13 Virginia
  13 Sophia
  13 Nicole
  13 Jason
  13 Hannah
  13 Deborah
  13 Brian
  12 Minnie
  12 Donna
  12 Bertha
  11 Cynthia
  10 Ronald
  10 Noah
  10 Nicholas
  10 Mia
  10 Doris
  10 Brittany
  10 Alice
   9 Tyler
   9 Joan
   9 Debra
   8 Taylor
   8 Mason
   8 Judith
   8 Ida
   8 Clara
   8 Alexis
   8 Alexander
   7 Tammy
   7 Steven
   7 Sharon
   7 Liam
   7 Harry
   7 Brandon
   6 Anthony
   5 Jeffrey
   5 Jayden
   5 Gary
   5 Charlotte
   5 Annie
   4 Lillian
   4 Kathleen
   4 Justin
   4 Chloe
   4 Benjamin
   4 Austin
   3 Megan
   3 Harper
   3 Evelyn
   3 Elijah
   3 Aiden
   2 Rebecca
   2 Oliver
   2 Logan
   2 Lauren
   2 Larry
   2 Bessie
   2 Amelia
   1 Walter
   1 Tracy
   1 Scott
   1 Rachel
   1 Pamela
   1 Lucas
   1 Lori
   1 Laura
   1 Kelly
   1 Julie
   1 Crystal
   1 Carolyn